.miniloader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#f47d39 94%,#0000) top/4px 4px no-repeat,
           conic-gradient(#0000 30%,#f47d39);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation: spinner-ub 0.8s infinite linear;
 }
 
 @keyframes spinner-ub {
    100% {
       transform: rotate(1turn);
    }
 }

